<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Items List</h1>
    <ul class="item-list">
      <!-- Looping through each array item and display data on the page -->
      <% items.forEach(item => { %>
        <li class="item">
          <a href="/detail?id=<%= item.id %>">
            <h2 class="item-title"><%= item.name %></h2>
            <ul class="item-details">
              <li><strong>Make:</strong> <%= item.make %></li>
              <li><strong>Model:</strong> <%= item.model %></li>
              <li><strong>Year:</strong> <%= item.year %></li>
            </ul>
          </a>
        </li>
    <% }); %>
    </ul>
  </div>
</body>
</html>